/* Footer.css */

.footer {
    position: absolute;
    overflow: hidden;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgb(19, 12, 92);; /* Footer arkaplan rengi, istediğiniz rengi kullanabilirsiniz */
    padding: 10px 0; /* Footer içeriğinin içeride daha iyi görünmesi için padding ekleyebilirsiniz */
    text-align: center;
    font-weight: 500;
    color: white;
  }
  