/* SubNavbar.css */

.titleNav {
    background-color: rgb(19, 12, 92); /* Arka plan rengi */
    padding: 10px;


  }
  
  nav ul li {
    margin-right: 40px; /* Üst başlıklar arasındaki boşluk */
    color: white;
    font-size: large;
    align-items: center;

  }
  
  nav ul li ul {
    background-color: #6f9fce; /* Alt başlıkların arka plan rengi */
    color: black;
  }
  